<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="app">
      <main class="main">
        <div class="filters">
          <button
            class="filter"
            [class.active]="filter() === 'long_term'"
            (click)="updateFilter('long_term')"
          >
            <ng-container *ngIf="filter() !== 'long_term' || !isLoading(); else loadingText">
              All time
            </ng-container>
          </button>

          <button
            class="filter"
            [class.active]="filter() === 'medium_term'"
            (click)="updateFilter('medium_term')"
          >
            <ng-container *ngIf="filter() !== 'medium_term' || !isLoading(); else loadingText">
              Last months
            </ng-container>
          </button>

          <button
            class="filter"
            [class.active]="filter() === 'short_term'"
            (click)="updateFilter('short_term')"
          >
            <ng-container *ngIf="filter() !== 'short_term' || !isLoading(); else loadingText">
              Last weeks
            </ng-container>
          </button>

          <ng-template #loadingText> <span class="spinner"></span> Loading... </ng-template>
        </div>

        <div class="dashboard-grid">
          <div class="card player-container" *ngIf="currentTrack(); else loading">
            <h3>Currently playing</h3>

            <div class="player-left">
              <a [href]="currentTrack()?.track_url" target="_blank">
                <img [src]="currentTrack()?.image" alt="album cover" class="album-cover" />
              </a>

              <div class="track-info">
                <h4 class="track-title">{{ currentTrack()?.name }}</h4>
                <p class="track-artists">{{ currentTrack()?.artists }}</p>
                <p class="album-name">Album : {{ currentTrack()?.album_name }}</p>

                <div class="progress-container">
                  <div class="progress-bar" [style.width.%]="progressPercent"></div>
                </div>

                <div class="time">
                  <span>{{ displayProgress }}</span>
                  <span>/{{ displayDuration }}</span>
                </div>

                <div class="player-center">
                  <button class="control-btn" (click)="skipPreviousTrack()">
                    <i class="fas fa-backward"></i>
                  </button>

                  <button class="control-btn" (click)="skipNextTrack()">
                    <i class="fas fa-forward"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="card top-artists">
            <h3>Top 5 Artists</h3>

            <ng-container *ngIf="topArtists(); else loading">
              <ul class="rank-list">
                <li *ngFor="let artist of topArtists()?.top_artists; let i = index">
                  <span class="rank">{{ i + 1 }}</span
                  ><a [href]="artist.spotify_url" target="_blank">
                    <img [src]="artist.image" [alt]="artist.name" />
                    <div class="info">
                      <p class="name">{{ artist.name }}</p>
                      <p class="plays">Popularité : {{ artist.popularity }}</p>
                    </div></a
                  >
                </li>
              </ul>
            </ng-container>

            <ng-template #loading>
              <p>Chargement des artistes...</p>
            </ng-template>
          </div>

          <!-- Top Tracks -->
          <div class="card top-artists">
            <h3>Top 5 tracks</h3>

            <ng-container *ngIf="topTracks(); else loading">
              <ul class="rank-list">
                <li *ngFor="let track of topTracks()?.top_tracks; let i = index">
                  <a [href]="track.spotify_url" target="_blank">
                    <span class="rank">{{ i + 1 }}</span>
                    <img [src]="track.image" [alt]="track.name" />
                    <div class="info">
                      <p class="name">{{ track.name }}</p>
                      <p class="plays">Popularité : {{ track.popularity }}</p>
                    </div></a
                  >
                </li>
              </ul>
            </ng-container>

            <ng-template #loading>
              <p>Chargement des tracks...</p>
            </ng-template>
          </div>

          <!-- Genre Distribution -->
          <div class="card genre-distribution">
            <h3>Listening by Genre</h3>

            <div class="chart-wrapper">
              <canvas id="genreDonut"></canvas>
            </div>
          </div>

          <div>
            <h3>Top listened Albums</h3>

            <div class="album-grid">
              <div class="album-card" *ngFor="let track of topAlbums()?.top_tracks">
                <a [href]="track.album_url" target="_blank">
                  <img [src]="track.image" [alt]="track.name" />

                  <div class="overlay">
                    <div class="info"></div>
                    <div class="play-button">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="white"
                        width="16"
                        height="16"
                      >
                        <path d="M8 5v14l11-7z" />
                      </svg>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
