<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="app">
      <main class="main">
        <!-- Filters -->
        <div class="filters">
          <button class="filter active">
            Last weeks <span class="material-symbols-outlined"></span>
          </button>
          <button class="filter">Last months</button>
          <button class="filter">All Time</button>
        </div>

        <div class="dashboard-grid">
          <div class="card top-artists">
            <h3>Top 10 Artists</h3>

            <ng-container *ngIf="topArtists(); else loading">
              <ul class="rank-list">
                <li *ngFor="let artist of topArtists()?.top_artists; let i = index">
                  <span class="rank">{{ i + 1 }}</span
                  ><a [href]="artist.spotify_url" target="_blank">
                    <img [src]="artist.image" [alt]="artist.name" />
                    <div class="info">
                      <p class="name">{{ artist.name }}</p>
                      <p class="plays">Popularité : {{ artist.popularity }}</p>
                    </div></a
                  >
                </li>
              </ul>
            </ng-container>

            <ng-template #loading>
              <p>Chargement des artistes...</p>
            </ng-template>
          </div>

          <!-- Top Tracks -->
          <div class="card top-artists">
            <h3>Top 10 tracks</h3>

            <ng-container *ngIf="topTracks(); else loading">
              <ul class="rank-list">
                <li *ngFor="let track of topTracks()?.top_tracks; let i = index">
                  <a [href]="track.spotify_url" target="_blank">
                    <span class="rank">{{ i + 1 }}</span>
                    <img [src]="track.image" [alt]="track.name" />
                    <div class="info">
                      <p class="name">{{ track.name }}</p>
                      <p class="plays">Popularité : {{ track.popularity }}</p>
                    </div></a
                  >
                </li>
              </ul>
            </ng-container>

            <ng-template #loading>
              <p>Chargement des tracks...</p>
            </ng-template>
          </div>

          <!-- Genre Distribution -->
          <div class="card genre-distribution">
            <h3>Listening by Genre</h3>
            <canvas id="genreDonut"></canvas>

            <div class="legend">
              <ng-container *ngIf="topArtists()"> </ng-container>
            </div>
          </div>

          <div>
            <h3>Top listened Albums</h3>

            <div class="album-grid">
              <div class="album-card" *ngFor="let track of topAlbums()?.top_tracks">
                <a [href]="track.album_url" target="_blank">
                  <img [src]="track.image" [alt]="track.name" />

                  <div class="overlay">
                    <div class="info"></div>
                    <div class="play-button">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="white"
                        width="16"
                        height="16"
                      >
                        <path d="M8 5v14l11-7z" />
                      </svg>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
