$primary: #137fec;
$text-color: #0d141b;
$border-color: #e7edf3;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0;
  background-color: #f9f9f9;

  .logo-section {
    display: flex;
    align-items: center;
    gap: 1rem;

    .logo {
      width: 24px;
      height: 24px;
      background-color: $primary;
      border-radius: 50%;
    }

    h2 {
      font-weight: 700;
      font-size: 1.2rem;
    }
  }

  .right-section {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .nav-links {
    display: flex;
    gap: 2rem;

    a {
      text-decoration: none;
      color: $text-color;
      font-weight: 500;

      &.active {
        color: $primary;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .avatar {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    border: solid 2px #fff;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }

    .avatar-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}
