// Spotify Player
.player-container {
  display: flex;
  align-items: left;
  color: #000000;
  transition: transform all 0.3s ease;
  width: auto;

  .player-left {
    display: flex;
    align-items: center;
    gap: 1rem;

    .album-cover {
      width: 200px;
      height: 200px;
      border-radius: 10px;
      object-fit: cover;
    }

    .track-info {
      flex: 1;
      width: 100%;
      flex-direction: column;

      .track-title {
        font-size: 1rem;
        margin: 0;
        color: #000000;
      }

      .track-artists {
        font-size: 1rem;
      }
    }
  }
  .player-center {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: 1.5rem;

    .control-btn {
      background: rgba(255, 255, 255, 0.422);
      color: #000000;
      font-size: 1.1rem;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        background: rgba(255, 255, 255, 0.12);
        transform: scale(1.05);
      }
    }
  }

  &.loading {
    justify-content: center;
    text-align: center;
    color: #bbb;
    font-size: 1rem;
  }
}
.progress-container {
  height: 10px;
  background-color: #e5e7eb;
  border-radius: 3px;
  overflow: hidden;
  margin-top: 6px;
  width: 100%;

  .progress-bar {
    height: 100%;
    background-color: #465bc5;
    transition: width 1s linear;
    width: 0%; // la largeur sera contrôlée par [style.width.%]="progressPercent"
  }
}

.time {
  font-size: 1rem;
  font-weight: 800;
}
