// Variables
$primary: #1d5eb9;
$text-primary: #212121;
$text-secondary: #6b7280;
$surface-light: #ffffff;
$surface-hover-light: #f0f0f0;
$border-color: #e0e0e0;

body {
  font-family: 'Spline Sans', sans-serif;
  color: $text-primary;
  margin: 0;
}

.main {
  padding: 2rem;
}

h3 {
  font-size: 1.25rem;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  h2 {
    font-size: 2rem;
    font-weight: 800;
  }

  .variant-switcher {
    display: flex;
    gap: 0.5rem;

    label {
      background: $surface-light;
      border-radius: 0.5rem;
      padding: 0.25rem 0.75rem;
      cursor: pointer;
      input {
        display: none;
      }
    }
  }
}
.spinner {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-top-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  margin-right: 6px; /* espace avant le texte */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.filters {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem;

  .filter {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid $border-color;
    background: $surface-light;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 500;
    transition: all 0.2s;

    &.active {
      background: $primary;
      color: #fff;
      border-color: $primary;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 8px rgba(207, 217, 230, 0.39);
    }
  }
}

.dashboard-grid {
  display: grid;
  gap: 1.5rem;
  grid-auto-flow: dense;
  grid-auto-rows: minmax(100px, auto);
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  align-items: start;
  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      'a a d'
      'b c e';
  }
  .card:nth-child(1) {
    grid-area: a;
  }
  .card:nth-child(2) {
    grid-area: b;
  }
  .card:nth-child(3) {
    grid-area: c;
  }
  .card:nth-child(4) {
    grid-area: d;
  }
  .card:nth-child(5) {
    grid-area: e;
  }

  .card {
    border-radius: 1rem;
    border: 1px solid $border-color;
    background-color: $surface-light;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.2s;
    padding-top: 0rem;

    &:hover {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    }

    &.top-artists,
    &.top-tracks {
      .rank-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        li {
          display: flex;
          align-items: center;
          gap: 1rem;
          border-radius: 0.5rem;
          transition: background 0.2s;

          &:hover {
            background: $surface-hover-light;
            cursor: pointer;
          }

          img {
            width: 80px;
            height: 80px;
            border-radius: 0.5rem;
            object-fit: cover;
          }

          .info {
            flex: 1;
            .name {
              font-weight: 600;
            }
            .artist,
            .plays {
              font-size: 1rem;
              color: $text-secondary;
            }
          }

          .plays {
            font-weight: 500;
          }
        }
      }
    }
  }
}

.rank-list li a {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: inherit;
}

.genre-distribution h3 {
  align-self: flex-start;
}
.genre-distribution {
  .chart-wrapper {
    display: flex;
    justify-content: center;
  }
  canvas {
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 250px;
  }
}
